.App {
  text-align: center;
}

.App-header {
  display: grid;
  align-items: center;
  background-color: #111;
  height: 30px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
